<footer class="footer py-3 mt-auto bg-dark">
    <div class="container d-flex justify-content-md-between">
        <span class="text-muted">&copy; YelpCamp 2021</span>
        <span class="social-networks">
            <a class="text-muted" href="https://github.com/lsegg"
            ><i class="fab fa-github"></i
        ></a>
        <a class="text-muted"" href="https://www.linkedin.com/in/lucia-seggiaro/"
            ><i class="fab fa-linkedin"></i
        ></a>
        </span>
    </div>
</footer>
