<% layout('layouts/boilerplate') %>
<!-- styles -->
<link rel="stylesheet" href="/stylesheets/newAndEdit.css" />

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form
                class="validated-form"
                action="/campgrounds"
                method="POST"
                enctype="multipart/form-data"
                novalidate
            >
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input
                        class="form-control"
                        type="text"
                        id="title"
                        name="campground[title]"
                        placeholder="Campground name"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please write a name.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input
                        class="form-control"
                        type="text"
                        id="location"
                        name="campground[location]"
                        placeholder="Location"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please write a location.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price"
                        >Campground Price</label
                    >
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input
                            type="text"
                            class="form-control"
                            id="price"
                            placeholder="0.00"
                            aria-label="price"
                            aria-describedby="price-label"
                            name="campground[price]"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            Please write a price.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload images</label>
                    <input
                        class="form-control"
                        type="file"
                        id="image"
                        name="image"
                        accept="image/*"
                        required
                        multiple
                    />
                    <!-- <label class="form-label" for="image">Image URL</label>
                <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="campground[image]"
                    placeholder="https://image-url.com"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please write a URL.</div> -->
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        id="description"
                        name="campground[description]"
                        cols="30"
                        rows="10"
                        placeholder="Write here"
                        required
                    ></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                        Please write a description.
                    </div>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-lg btn-dark">Add Campground</button>
                </div>
            </form>
            <div class="d-grid gap-2 mb-3">
                <a class="btn btn-sm btn-outline-dark" href="/campgrounds"
                    >Back to all Campgrounds</a
                >
            </div>
        </div>
    </div>
</div>
